<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{'app.maintenance.title'|trans }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
        <style>
            html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
            * {box-sizing: border-box;}
            body { text-align: center; padding: 0; background: #fffdf5; color: #ffffff; font-family: 'Poppins', sans-serif; }
            h1 { font-size: 50px; font-weight: 500; text-align: center; line-height: 1.2; color: #3d4661;}
            body { font-family: 'Poppins', sans-serif; font-weight: 200; font-size: 1.18rem; color: #475569; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
            article { display: block; max-width: 740px; padding: 50px 30px; margin: 0 auto; }
            a { color: #5d76d8; font-weight: bold;}
            a:hover { text-decoration: none; color: #6366F1; }
            svg { width: 75px; margin-top: 1em; }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <article>
        <h1>{{'app.maintenance.title'|trans }}</h1>
        <div style="margin-bottom:10rem;">
            <p>{{'app.maintenance.message'|trans|raw }} </p>
        </div>
    </article>
{% endblock %}
</body>
</html>
